<div class="container">
  <button mat-raised-button color="accent" routerLink="/charts">Back to charts list</button>

  <form [formGroup]="form" (submit)="submitForm()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>A-sensor</mat-label>
      <input
        matInput
        type="number"
        formControlName="A_Sensor"
      >
      <mat-hint>
        <ng-container *ngIf="aSensor.hasError('max')">
          <ng-container *ngTemplateOutlet="invalidMaxVale"></ng-container>
        </ng-container>
        <ng-container *ngIf="aSensor.hasError('min')">
          <ng-container *ngTemplateOutlet="invalidMinValue"></ng-container>
        </ng-container>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>B-sensor</mat-label>
      <input
        matInput
        type="number"
        formControlName="B_Sensor"
      >
      <mat-hint>
        <ng-container *ngIf="bSensor.hasError('max')">
          <ng-container *ngTemplateOutlet="invalidMaxVale"></ng-container>
        </ng-container>
        <ng-container *ngIf="bSensor.hasError('min')">
          <ng-container *ngTemplateOutlet="invalidMinValue"></ng-container>
        </ng-container>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>C-sensor</mat-label>
      <input
        matInput
        type="number"
        formControlName="C_Sensor"
      >
      <mat-hint>
        <ng-container *ngIf="cSensor.hasError('max')">
          <ng-container *ngTemplateOutlet="invalidMaxVale"></ng-container>
        </ng-container>
        <ng-container *ngIf="cSensor.hasError('min')">
          <ng-container *ngTemplateOutlet="invalidMinValue"></ng-container>
        </ng-container>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>D-sensor</mat-label>
      <input
        matInput
        type="number"
        formControlName="D_Sensor"
      >
      <mat-hint>
        <ng-container *ngIf="dSensor.hasError('max')">
          <ng-container *ngTemplateOutlet="invalidMaxVale"></ng-container>
        </ng-container>
        <ng-container *ngIf="dSensor.hasError('min')">
          <ng-container *ngTemplateOutlet="invalidMinValue"></ng-container>
        </ng-container>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-sensor</mat-label>
      <input
        matInput
        type="number"
        formControlName="E_Sensor"
      >
      <mat-hint>
        <ng-container *ngIf="dSensor.hasError('max')">
          <ng-container *ngTemplateOutlet="invalidMaxVale"></ng-container>
        </ng-container>
        <ng-container *ngIf="dSensor.hasError('min')">
          <ng-container *ngTemplateOutlet="invalidMinValue"></ng-container>
        </ng-container>
      </mat-hint>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid">
      Add chart
    </button>
  </form>
</div>


<ng-template #invalidMaxVale>
  <span style="color: red">Value should not exceed 100</span>
</ng-template>

<ng-template #invalidMinValue>
  <span style="color: red">Value should not be less than 0</span>
</ng-template>
